@charset "utf-8";
@import url("reset.css");

/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {
    .contents-wrap{
        width: 80%;
        margin:  0 auto;
    }
    /*header*/
    header{
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
    }

    header h1 a img{
        width: 100px;
        height: auto;
    }

    header .menu-bar{
        width: 50px;
    }
    header .menu-bar span{
        width: 50px;
        height: 5px;
        background-color: #000;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    header .menu-bar.active{
        position: fixed;
        right: 10%; top: 5%;
        z-index: 999;
    }

    header .menu-bar.active span{
        background-color: #fff;
    }

    header .menu-bar.active span:nth-child(2) {
        opacity: 0;
    }

    header .menu-bar.active span:nth-child(1) {
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
    }

    header .menu-bar.active span:nth-child(3) {
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
    }
    header .menu-con{
        display: none;
        background: #333;
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 9;
    }

    header .menu-con ul{
        padding: 120px 0;
    }

    header .menu-con ul li a{
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        text-decoration: none;
        color: #ffffff;
    }

    header .menu-con ul li:hover a{
        text-decoration: underline;
        transition: all 0.3s;
    }

    /*contents*/
    .contents-container{
        position: relative;
        overflow: hidden;
        height: 1200px;
    }

    .contents-container hr{
        margin: 40px 0;
    }

    .contents-container img{
        margin-left: -10px;
        width: 180px;
    }

    .contents-container h2{
        position: absolute;
        top: 90px;
        left: 180px;
        font-size: 32px;
        font-weight: bold;
    }

    .contents-container h3{
        font-size: 32px;
        font-weight: bold;
        margin: 20px 0;
    }

    .contents-container p{
        margin-top: 30px;
        line-height: 2;
    }

    .contents-container .skills{
        font-size: 24px;
        font-weight: bold;
    }

    .contents-container ul{
        display: block;
    }
    .contents-container ul li{
        display: inline-block;
        margin-right: 15px;
        line-height: 2;
    }

    .contents-container span{
        color: #0057fe;
    }

    .contents-container .experience li{
        margin-right: 230px;
    }

    /* footer*/
    footer{
        background: #0057fe;
        padding: 50px;
    }
    footer .sns-list{
        display: flex;
        justify-content: center;
    }
    footer .sns-list li{
        margin: 20px 15px;
    }

    footer .sns-list li img{
        width: 32px;
    }

    footer p{
        text-align: center;
        font-size: 12px;
        color: #fff;
    }

    /*work-detaile*/

}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .contents-wrap{
        width: 100%;
    }
    /*header*/
    header{
        display: flex;
        justify-content: space-between;
        padding: 50px 30px;
    }

    header h1 a img{
        width: 100px;
        height: auto;
    }

    header .menu-bar{
        width: 50px;
    }
    header .menu-bar span{
        width: 50px;
        height: 5px;
        background-color: #000;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    header .menu-bar.active{
        position: fixed;
        right: 10%; top: 5%;
        z-index: 999;
    }

    header .menu-bar.active span{
        background-color: #fff;
    }

    header .menu-bar.active span:nth-child(2) {
        opacity: 0;
    }

    header .menu-bar.active span:nth-child(1) {
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
    }

    header .menu-bar.active span:nth-child(3) {
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
    }
    header .menu-con{
        display: none;
        background: #333;
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 9;
    }

    header .menu-con ul{
        padding: 120px 0;
    }

    header .menu-con ul li a{
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        text-decoration: none;
        color: #ffffff;
    }

    header .menu-con ul li:hover a{
        text-decoration: underline;
        transition: all 0.3s;
    }
    /*contents*/
    .contents-container{
        position: relative;
        overflow: hidden;
        height: 1200px;
        padding: 0 20px;
    }

    .contents-container hr{
        margin: 40px 0;
    }

    .contents-container img{
        margin-left: -10px;
        width: 180px;
    }

    .contents-container h2{
        position: absolute;
        top: 80px;
        left: 180px;
        font-size: 32px;
        font-weight: bold;
    }

    .contents-container h3{
        font-size: 32px;
        font-weight: bold;
        margin: 20px 0;
    }

    .contents-container p{
        margin-top: 30px;
        line-height: 2;
    }

    .contents-container .skills{
        font-size: 24px;
        font-weight: bold;
    }

    .contents-container ul{
        display: block;
    }
    .contents-container ul li{
        display: inline-block;
        margin-right: 15px;
        line-height: 2;
    }

    .contents-container span{
        color: #0057fe;
    }

    .contents-container .experience li{
        margin-right: 70px;
    }

    /* footer*/
    footer{
        background: #0057fe;
        padding: 50px;
    }
    footer .sns-list{
        display: flex;
        justify-content: center;
    }
    footer .sns-list li{
        margin: 20px 15px;
    }

    footer .sns-list li img{
        width: 32px;
    }

    footer p{
        text-align: center;
        font-size: 12px;
        color: #fff;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    .contents-wrap{
        width: 100%;
    }
    /*header*/
    header{
        display: flex;
        justify-content: space-between;
        padding: 50px 15px;
    }

    header h1 a img{
        width: 100px;
        height: auto;
    }
    
    header .menu-bar{
        width: 50px;
    }
    header .menu-bar span{
        width: 50px;
        height: 5px;
        background-color: #000;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    header .menu-bar.active{
        position: fixed;
        right: 10%; top: 5%;
        z-index: 999;
    }

    header .menu-bar.active span{
        background-color: #fff;
    }

    header .menu-bar.active span:nth-child(2) {
        opacity: 0;
    }

    header .menu-bar.active span:nth-child(1) {
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
    }

    header .menu-bar.active span:nth-child(3) {
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
    }
    header .menu-con{
        display: none;
        background: #333;
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 9;
    }

    header .menu-con ul{
        padding: 120px 0;
    }

    header .menu-con ul li a{
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        text-decoration: none;
        color: #ffffff;
    }

    header .menu-con ul li:hover a{
        text-decoration: underline;
        transition: all 0.3s;
    }
    /*contents*/
    /*contents*/
    .contents-container{
        position: relative;
        overflow: hidden;
    }

    .contents-container hr{
        display: none;
        /* margin: 40px 0; */
    }

    .contents-container img{
        margin-left: 20%;
        width: 180px;
    }

    .contents-container h2{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin: 30px 0;
    }

    .contents-container h3{
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        margin: 30px 0;
    }

    .contents-container p{
        padding: 0 20px;
        text-align: start;
        line-height: 1.6;
    }

    .contents-container .skills{
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
    }

    .contents-container ul{
        display: block;
    }
    .contents-container ul li{
        display: inline-block;
        padding-left: 20px;
        line-height: 2;
    }

    .contents-container span{
        color: #0057fe;
    }

    .contents-container .experience li{
        display: block;
        margin-bottom: 30px;
    }

    /* footer*/
    footer{
        background: #0057fe;
        padding: 50px;
    }
    footer .sns-list{
        display: flex;
        justify-content: center;
    }
    footer .sns-list li{
        margin: 20px 15px;
    }

    footer .sns-list li img{
        width: 32px;
    }

    footer p{
        text-align: center;
        font-size: 12px;
        color: #fff;
    }
}