@charset "utf-8";
@import url("reset.css");

body .main{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 568px;
    background-image: url(../img/bg.png);
    /* background-color: ##D01012; */
    
}

.main img{
    position: absolute;
    width: 150px;
    left: 25%;
    top: 35%;
}